<phpunit bootstrap="tests/bootstrap.php">
    <testsuite name="ValueObjects Test Suite">
        <directory>tests</directory>
    </testsuite>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
</phpunit>
